@page "/"
@using Microsoft.Extensions.Configuration
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>ยินดีต้อนรับสู่แอปองค์กร</h1>

<div class="card p-3 shadow-sm">
    <div>
        <h3>สถานะการแจ้งเตือน</h3>
        <p>สถานะปัจจุบัน: <strong class="text-info">@statusMessage</strong></p>

        @if (ClientNotificationsToken != "")
        {
            <p><strong class="text-info">@ClientNotificationsToken</strong></p>
        }
    </div>

    <button class="btn btn-info" @onclick="CheckStatus">
        ตรวจสอบการลงทะเบียน
    </button>

    @if (statusCode != null && statusCode == "NotSubscribed")
    {
        <button class="btn btn-primary" @onclick="EnableNotifications">
            เปิดการแจ้งเตือน
        </button>
    }
    
    @if (statusCode != null && statusCode == "Subscribed")
    {
        @* <button class="btn btn-danger" @onclick="TestNotifications">
            ทดสอบรับการแจ้งเตือน
        </button> *@
        <button class="btn btn-danger" @onclick="DisableNotifications">
            ปิดการแจ้งเตือน
        </button>
    }

</div>

@code {

    private string ClientNotificationsToken = "";
    private string statusCode = "ยังไม่ได้ตรวจสอบ";
    private string? statusMessage = null; // ควรเช็กสถานะจากปุ่ม CheckStatus ก่อน

    private async Task EnableNotifications()
    {
        var vapidPublicKey = Configuration["Vapid:PublicKey"];

        if (string.IsNullOrEmpty(vapidPublicKey))
        {
            statusMessage = "❌ Error: ไม่พบ Public Key ใน appsettings.json";
            return;
        }
        // เรียกใช้ JavaScript ที่เราเขียนไว้
        var subscriptionJson = await JSRuntime.InvokeAsync<string>("requestNotificationPermission", vapidPublicKey);
        if (subscriptionJson != null)
        {
            ClientNotificationsToken = subscriptionJson;
        }

        await CheckStatus();

        // if (subscriptionJson != null)
        // {
        //     // ส่งค่า subscriptionJson นี้ไปเก็บที่ Web API ของคุณ
        //     Console.WriteLine("ลงทะเบียนสำเร็จ: " + subscriptionJson);
        // }
    }


    private async Task CheckStatus()
    {
        var result = await JSRuntime.InvokeAsync<string>("getSubscriptionState");

        statusCode = result;

        statusMessage = result switch
        {
            "Subscribed" => "✅ ลงทะเบียนสำเร็จ พร้อมรับแจ้งเตือน",
            "NotSubscribed" => "❌ ยังไม่ได้ลงทะเบียน (กรุณากดปุ่มเปิดการแจ้งเตือน)",
            "Denied" => "🚫 คุณปิดกั้นการแจ้งเตือน (ต้องไปแก้ในตั้งค่า Browser)",
            "NotSupported" => "⚠️ Browser นี้ไม่รองรับระบบแจ้งเตือน",
            _ => "ไม่ทราบสถานะ"
        };
    }

    private async Task DisableNotifications()
    {
        var subscriptionJson = await JSRuntime.InvokeAsync<string>("unSubscribeNotifications");

        if (subscriptionJson != null)
        {
            // TODO: ส่งข้อมูลไปที่ Web API เพื่อลบ Token นี้ออกจากฐานข้อมูล
            Console.WriteLine("ยกเลิกที่เครื่องสำเร็จแล้ว กรุณาลบในฐานข้อมูลด้วย: " + subscriptionJson);

            // อัปเดตสถานะหน้าจอ
            statusCode = "NotSubscribed";
            statusMessage = "❌ ยกเลิกการแจ้งเตือนแล้ว";

            ClientNotificationsToken = "";
        }
    }
}