@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

@* ใส่ลิงก์ CSS/FontAwesome ตรงนี้ซ้ำได้เพื่อความชัวร์ หรือใช้จาก index.html ก็ได้ *@
<link href="css/app.css" rel="stylesheet" />